{% extends 'blog/base.html' %}
        
{% block content %}  
	<p>Strona powstała na potrzeby warsztatów <a class='link-in-text' href="https://www.facebook.com/events/1168675849925816/">Girls Who Test</a> <span style="font-style:italic;">Odkryj Testerski Talent</span>, dlatego celowo posiane są w niej błędy :). Inspiracją, a zarazem szkieletem, jest aplikacja, której napisanie krok po kroku zostało opisane w świetnym tutorialu <a class='link-in-text' href="https://tutorial.djangogirls.org/pl/">DjangoGirls</a>.</p>

	<p>Autorka, Justyna Mazur, na co dzień pracuje w przemyskiej firmie informatycznej jako tester oprogramowania, a także jest współzałożycielką i członkinią GWT.</p>

	<p>Kod źródłowy strony dostępny jest na <a class='link-in-text' href="https://github.com/jot-em/blog-from-django-tutorial">GitHubie</a>.</p>
{% endblock content %}
