{% load staticfiles %}
<html>
    <head>
        <title>Społecznościowy Portal Informacyjny Samych Ekstra Komunikatów</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="page-header">
        <h1><a href="/">SPISEK</a></h1>
      </div>
      <ul class="menu">
        <li><a href="{% url 'post_list' %}">Wszystkie wpisy</a></li>
        <li class="dropdown">
          <a class="dropbtn" href="{% url 'category' %}">Kategorie</a>
          <div class="dropdown-content">
            <a href="{% url 'about' %}">Nauka</a>
            <a href="{% url 'about' %}">Inne</a>
            <a href="{% url 'about' %}">Muzyka</a>
            <a href="{% url 'login'%}">Sport</a>
          </div>
        </li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'post_new' %}">Dodaj wpis</a></li>
        {% endif %}   
        <li><a href="{% url 'about' %}">O aplikacji</a></li>
        {% if user.is_authenticated %}
          <li><a class="active" href="{% url 'logout_user'%}">Wyloguj się</a></li>
          <li class="almost-menu">Jesteś zalogowany jako {{user}}</li>
        {% else %}
          <li><a class="active" href="{% url 'login'%}">Zaloguj się</a></li>
        {% endif %}  
      </ul>
      <div class="content container">
          <div class="row">
             <div class="col-md-8">
               {% block content %}
               {% endblock %}
             </div>
          </div>
      </div>
    </body>
</html>