{% extends 'blog/base.html' %}
        
{% block content %} 
	{% if deleted == True %}
		<p class='success_message'>Wpis został usunięty!</p>
	{% endif %}
	{% for post in posts %}

                <div class="post">
                  <div class="date">
					{% if post.author_invisible == False %}
						<p>Opublikowany {{ post.published_date }}</p>
					{% else %}
						<p>Opublikowany przez: {{post.author}}, {{ post.published_date }}</p>
					{% endif %}		
                  </div>
                  <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                  <p>{{ post.text|truncatechars:500 }}</p>
               	</div>
	{% endfor %}
{% endblock content %}
